@charset "UTF-8";

.box {
    background: #ff0000;
    box-sizing: border-box;
    padding: 10px 20px 30px;
    text-align: center;
    width: 200px;
}

.fade-in {
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-Up {
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

.fade-Down {
    animation-name: fadeDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-light {
    animation-name: fadelight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadelight {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}

.fade-left {
    animation-name: fadeleft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeleft {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1; 
        transform: translateY(0);
    }
}
